header.site-header {
	background-color: #333333;
	z-index: 5555;
	
	.utility-nav {
		position: absolute;
		top: 100%;
		right: -0.9375rem;
		ul {
			margin: 0;
			padding: 0;
		}
		li {
			a {
				font-size: rem-calc(16);
				padding: 0.75rem 1.3em;
				svg {
					@include breakpoint(medium) {
						margin-right: rem-calc(7);
					}
					path {
						transition: .25s ease;
					}
				}
				transition: color .25s ease, background-color .25s ease;
				&:hover {
					color: $color-gold;
					background-color: $color-alt-black;
					svg {
						path {
							fill: $color-gold
						}
					}
				}
			}
			&:first-child {
				position: relative;
				clip-path: polygon(40% 0%, 100% 0%, 100% 100%, -30% 100%);
				@include breakpoint(medium) {
					clip-path: polygon(11.5% 0%, 100% 0%, 100% 100%, -13% 100%);
				}
				a {
					padding-left: 2rem;
					@include breakpoint(medium) {
						padding-left: 2.4rem;
					}
				}
				&:before {
					content: '';
					display: block;
					position: absolute;
					z-index: -1;
					top: 0;
					right: -1px;
					bottom: 0;
					width: 2px;
					background: $color-gold;
				}
			}
			&:last-child {
				clip-path: polygon(0% 0%, 116% 0%, 86% 100%, 0% 100%);
				a {
					padding-right: 3.05rem;
				}
			}
			& + .get-started {
				a {
					padding-right: 3rem;
				}
			}
			&.get-started {
				a {
					font-size: rem-calc(18);
					svg {
						margin-right: 0;
						margin-left: rem-calc(20);
					}
				}
			}
		}
	}
	
	#top-bar-menu {

		li.logo {
			@include breakpoint(medium) {

			}
			@include breakpoint(tablet) {

			}
			a {
				padding: 0;
			}			
		}
			
		.main-nav {
			align-items: center;
			>li {
				margin: 0 .3rem 0rem;
				
				> a {
					font-family: $font-header;
					font-weight: 700;
					font-size: rem-calc(20);
					text-transform: uppercase;
					padding: 1.78rem 0.5rem 1.78rem;
					
					@include breakpoint(tablet) {
						font-size: rem-calc(20);
					}
					
					span {
						&:before {
							content: '';
							width: calc(100% - 1rem);
							position: absolute;
							top: 0;
							height: 11px;
							background-color: transparent;
						}
					}
					
				&:hover {

				}
					
				}
				
			&.is-active,
			&.current-menu-ancestor {
				span:before {
					background-color: $white;
				}
			}
				
			&.menu-item-has-children {
				
				ul.submenu {
					li {
						a {

							
						&:hover {

						}
							
						}
						
					}
				}
	
			}

			}
		}
		
		.menu-toggle-wrap {
		    width: auto;
		    flex: 0 0 auto;
		    
		    a#menu-toggle {
			    padding: 0;
			    width: 36px;
			    height: 36px;
			    position: relative;
			    
			    span {
				    position: absolute;
				    left: 0;
				    right: 0;
				    width: 36px;
				    height: 4px;
				    background-color: $white;
					transition: all .3s ease;
				    
				    &:nth-child(1) {
					    top: 4px;
				    }

				    &:nth-child(2) {
					    top: 16px;
				    }
				    
				    &:nth-child(3) {
					    bottom: 4px;
				    }
				    				    
			    }
				
			&.clicked {
				span {
					&:nth-child(1) {
						top: 4px;
						transform: translate(0px, 12px) rotate(-45deg);
					}
			
					&:nth-child(2) {
						top: 16px;
						left: 50%;
						right: 100%;
						width: 0;
					}
					
					&:nth-child(3) {
						bottom: 4px;
						transform: translate(0px, -12px) rotate(45deg);
					}
				}				
			}
			    
		    }
		    
		}
	
	}
	
}