header.site-header {
	background-color: #333333;
	background-image: linear-gradient(180deg, #333 0%, #010101 100%);
	z-index: 5555;
	max-width: 100% !important;
	padding-top: .5395rem;
	padding-bottom: .5395rem;
	.top-bar {
		li.logo {
			max-width: 290px;
			@include breakpoint(medium down) {
				max-width: 263px;
			}
		}
	}
	.utility-nav {
		position: absolute;
		top: 100%;
		right: -0.9375rem;
		ul {
			margin: 0;
			padding: 0;
		}
		li {
			a {
				font-size: rem-calc(16);
				line-height: 1.5;
				padding: 0.4343rem 1.3em;
				svg {
					@include breakpoint(medium) {
						margin-right: rem-calc(7);
					}
					path {
						transition: .25s ease;
					}
				}
				transition: color .25s ease, background-color .25s ease;
				&:hover {
					color: $color-gold;
					background-color: $color-alt-black;
					svg {
						path {
							fill: $color-gold
						}
					}
				}
			}
			&:first-child {
				position: relative;
				clip-path: polygon(40% 0%, 100% 0%, 100% 100%, -30% 100%);
				@include breakpoint(medium) {
					clip-path: polygon(11.5% 0%, 100% 0%, 100% 100%, -13% 100%);
				}
				a {
					padding-left: 2rem;
					@include breakpoint(medium) {
						padding-left: 2.4rem;
					}
				}
				&:before {
					content: '';
					display: block;
					position: absolute;
					z-index: -1;
					top: 0;
					right: -1px;
					bottom: 0;
					width: 2px;
					background: $color-gold;
				}
			}
			&:last-child {
				clip-path: polygon(0% 0%, 116% 0%, 86% 100%, 0% 100%);
				a {
					padding-right: 3.05rem;
				}
			}
			&:not(:first-child):not(:only-child):not(:last-child) {
				a {
					position: relative;
					&:before {
						content: '';
						display: block;
						position: absolute;
						z-index: -1;
						top: 0;
						bottom: 0;
						left: -1px;
						right: -1px;
						width: calc(100% + 2px);
						background-color: $color-gold;
					}
				}
			}
			&.phone {
				@media (min-width: 430px) {
					span.show-for-medium {
						display: block !important;
					}
					svg {
						margin-right: rem-calc(7);	
					}
				}	
			}
			& + .get-started {
				a {
					padding-right: 3rem;
				}
			}
			&.get-started {
				a {
					font-size: rem-calc(18);
					svg {
						margin-right: 0;
						margin-left: rem-calc(20);
					}
				}
			}
		}
	}
	
	#top-bar-menu {

		li.logo {
			@include breakpoint(medium) {

			}
			@include breakpoint(tablet) {

			}
			a {
				padding: 0;
			}			
		}
			
		.main-nav {
			align-items: center;
			li {
				a {
					font-family: $font-header;
					font-weight: 700;
					font-size: rem-calc(20);
					line-height: 1.55;
					text-transform: uppercase;
				}
			}
			>li {
				margin: 0;
				
				> a {
					padding: 1.1rem 1.35rem .7rem;
					
					@include breakpoint(tablet) {
						font-size: rem-calc(20);
					}
					
					span {
						&:before {
							content: '';
							width: calc(100% - 1rem);
							position: absolute;
							top: 0;
							height: 11px;
							background-color: transparent;
						}
					}
					
				&:hover {

				}
					
				}
				
			&.is-active {
				a {
					background-color: #8B8B8B;
					color: #101010;
				}
			}
				
			&.menu-item-has-children {
				
				ul.submenu {
					padding-top: 1.2rem;
					padding-bottom: 1.2rem;
					background-color: #8B8B8B;
					li {
						&:first-child {
							a {
								//padding-top: 2.2rem;
							}
						}
						&:last-child {
							a {
								//padding-bottom: 2rem;
							}
						}
						&:only-child {
							a {
								padding-top: 2.2rem;
								padding-bottom: 2rem;
							}
						}
						a {
							padding: 1rem 1.35rem;
							transition: background-color .25s ease;
						&:hover {
							background-color: $black;
							color: $color-gold;
						}
							
						}
						
					}
				}
	
			}

			}
		}
		
		.menu-toggle-wrap {
		    width: auto;
		    flex: 0 0 auto;
		    
		    a.menu-toggle {
				cursor: pointer;
			    padding: 0;
			    width: 36px;
			    height: 36px;
			    position: relative;
			    span {
				    position: absolute;
				    left: 4px;
				    right: 0;
				    width: 28px;
				    height: 4px;
				    background-color: $color-gold;
					box-shadow: 1px 1px 0px 0px rgba(0,0,0,1);
					transition: all .3s ease;
				    
				    &:nth-child(1) {
					    top: 4px;
				    }

				    &:nth-child(2) {
					    top: 16px;
				    }
				    
				    &:nth-child(3) {
					    bottom: 4px;
				    }
				    				    
			    }
				
			&.clicked {
				span {
					background-color: $color-gold;
					&:nth-child(1) {
						top: 4px;
						transform: translate(0px, 12px) rotate(-45deg);
					}
			
					&:nth-child(2) {
						top: 16px;
						left: 50%;
						right: 100%;
						width: 0;
					}
					
					&:nth-child(3) {
						bottom: 4px;
						transform: translate(0px, -12px) rotate(45deg);
					}
				}				
			}
			    
		    }
		    
		}
	
	}
	
}

.off-canvas-wrapper {
	.off-canvas.position-right {
	}
	.off-canvas-content.is-open-right.has-transition-push {
		transform: translateX(0px);
	}
	.off-canvas.position-right {
		width: 100%;
		max-width: 480px;
		padding-bottom: 4rem;
		transform: translateX(100%);
		background: #181818 url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='479.999' height='398.864'%3E%3Cg data-name='logo bug' opacity='.452'%3E%3Cpath data-name='Union 1' d='M203.429 398.864V184.39l19.024 10.957L0 0h111.048L240 113.431 368.951 0H480L257.545 195.347l19.024-10.957v214.474Zm98.685-142.91 110.411-97.614-45.7 26.438v-51.337l60.686-53.264.145 145.834-125.537 110.736ZM52.341 226.012l.145-145.834 60.687 53.265v51.335l-45.7-26.437 110.411 97.613v80.793Z'/%3E%3C/g%3E%3C/svg%3E");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 50% 100%;
		&.is-open {
			transform: translateX(0);
		}
		.inner {
			position: relative;
			z-index: 5;
			padding: 0 18px;
			.close-menu {
				padding-top: 21px;
				padding-bottom: 43px;
				width: 100%;
				font-size: rem-calc(20);
				b {
					color: #8B8B8B;
				}
			}
		}
		ul#offcanvas-nav {
			padding-bottom: 32px;
		}
		.accordion-menu {
			li {
				a {
					text-transform: uppercase;
					font-family: $font-header;
					font-weight: 700;
					padding: .92rem 1rem;
				}
				&.current-menu-item {
					a {
						color: $white;
					}
				}
			}
			> li {
				a {
					color: $color-gold;
					font-size: rem-calc(28);
				}
				&.is-accordion-submenu-parent:not(.has-submenu-toggle) {
					a:after {
						border: 0;
						height: 15px;
						width: 24.29px;
						background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24.292' height='15'%3E%3Cpath d='M0 2.854 2.855 0l9.292 9.271L21.438 0l2.854 2.854L12.146 15Z' fill='%23c4a75f'/%3E%3C/svg%3E");
						background-size: contain;
						background-position: center;
						background-repeat: no-repeat;
						margin-top: -7px;
						transition: color .25s ease, transform .3s ease;
					}
					&[aria-expanded="true"] {
						a {
							color: $white;
							&:after {
								transform: rotateX(180deg);
								background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24.292' height='15'%3E%3Cpath d='M0 2.854 2.855 0l9.292 9.271L21.438 0l2.854 2.854L12.146 15Z' fill='%23ffffff'/%3E%3C/svg%3E");
							}
						}
					}
					.submenu {
						li {
							a {
								font-size: rem-calc(20);
								color: #8B8B8B;
								padding-left: 39px;
							}
						}
					}
				}
			}
		}
		.buttons-group {
			padding-top: rem-calc(36);
			> div {
				margin-bottom: rem-calc(16);
				.button.no-bg {
					padding-left: 0;
				}
			}
		}
	}
}