// Fonts
$font-header: "Titillium Web", Helvetica, Roboto, Arial, sans-serif;;
$font-body: "Open Sans", Helvetica, Roboto, Arial, sans-serif;;
// Colors
$color-alt-black: #210202;
$color-gold: #C5A75F;