.copy-ctas-image {
	padding-top: rem-calc(78.4);
	padding-bottom: rem-calc(95.2);
	&:before {
		top: 122px;
	}
	@include breakpoint(medium) {
		padding-top: rem-calc(112);
		padding-bottom: rem-calc(136);
	}
	.section-header.h2 {
		margin-bottom: .55em;
	}
	.img-wrap {
		@include breakpoint(medium down) {
		}
	}
	.text-wrap {
		margin-top: 3rem;
		margin-bottom: 2.5rem;
		.button-group {
			padding-top: rem-calc(42);
		}
	}
	h1 {
		margin-bottom: .55em;
	}
	.h2,
	.h3 {
		line-height: .92;
		margin: 0;
		font-size: 3rem;
		font-size: clamp(3rem, 2.604rem + 1.759vw, 4.188rem);
		@include breakpoint(medium) {
			line-height: .86;
			display: block;
			font-size: 4.188rem;
			font-size: clamp(3rem, 2.604rem + 1.759vw, 4.188rem);
		}
	}

	@include breakpoint(medium) {
		.h2 {
			margin-bottom: 0.03em;
		}
		.h3 {
			text-transform: none;
			font-size: 3.125rem;
			font-size: clamp(2.188rem, 1.84rem + 1.543vw, 3.125rem);
		}
	}
}