.parallax-rows {
	overflow: hidden;
	.single-row {
		&:not(:first-child) {
			border-top: 10px solid $color-gold;
		}
		//overflow: hidden;
		&:nth-child(odd) .offset-cta {
			> .grid-x {
				@include breakpoint(small down) {
					padding-left: 5%;
				}
			}
			.cta-card-wrap {
				@include breakpoint(small down) {
					padding-right: 0;
					transform: translateX(8px);
				}
				margin-left: 0;	
				transform: translateX(-20%);
			}
			@media (min-width: 1450px) {
				.img-wrap .inner {
					text-align: right;
					img {
						width: 899px;
					}
					//transform: translateX(calc($global-width * .5 - 362px));
				}
			}
		}
		&:nth-child(even) .offset-cta {
			&:after {
				transform: rotateY(180deg);
				background-position: 100% 24%;
			}
			> .grid-x {
				justify-content: flex-end;
				@include breakpoint(medium) {
					padding-left: 16.6666666667%;
				}
			}
			.cta-card-wrap {
				@include breakpoint(small down) {
					padding-left: 0;
					transform: translateX(-8px);
				}
			}
			.img-wrap .inner {
				top: -45px;
				left: auto;
				right: -8px;
				@media (min-width: 1450px) {
					position: relative;
					width: 899px;
					margin-right: 0;
					margin-left: calc(-#{$global-width} * .5 + 362px);
				}
			}
		}
	}
	.background {
		min-height: 74vw;
		@include breakpoint(small down) {
			padding-top: 120px;
			padding-bottom: 120px;
		}
		@include breakpoint(medium) {
			min-height: 45rem;
			min-height: clamp(31.5rem, 26.5rem + 22.222vw, 45rem);
		}
		h2 {
			line-height: 1.02;
			font-size: 2.975rem;
			font-size: clamp(2.975rem, 2.503rem + 2.099vw, 4.25rem);
			@include breakpoint(medium down) {
				margin-bottom: 1rem;
			}
			@include breakpoint(medium) {
				line-height: .8235;
				font-size: 4.25rem;
				font-size: clamp(2.975rem, 2.503rem + 2.099vw, 4.25rem);
			}
			@include breakpoint(tablet) {
				br {
					display: none;
				}
			}
		}
	}
	.bg {
		height: 100%;		
		img,
		video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;	
		}	
	}
	h2 {
		z-index: 1;
		margin: 0;
	}
	.offset-cta {
		z-index: 1;
		background-color: #1F1F1F;
		&:after {
			content: '';
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url(../images/brick.png);
			background-size: 331px;
			background-repeat: no-repeat;
			background-position: 100% 24%;
		}
		// > .grid-x {
		// 	align-items: flex-end;	
		// }
		.img-wrap {
			// position: relative;
			// z-index: 1;
			.inner {
				width: 62%;
				position: absolute;
				top: -45px;
				left: -8px;
				//padding-bottom: 70%;
				@media (min-width: 1450px) {

					//margin-right: calc(-#{$global-width} * .5 + 362px);
				}
				img {
					//position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					border: 8px solid $white;
				}
			}
		}
		.cta-card-wrap {
			padding-bottom: rem-calc(50);
			max-width: 610px;
			@include breakpoint(medium) {
				padding-top: rem-calc(126);
			}
		}
		.cta-card {
			position: relative;
			z-index: 2;
			border: 8px solid $dark-gray;
			padding: 2.5rem 2rem 1.45rem;
			@include breakpoint(small down) {
				margin-top: -106px;
			}
			@include breakpoint(medium) {
				padding: 2.5rem 3.4rem 1.45rem;

			}
			h3 {
				line-height: .9655;
				margin-bottom: 0.42em;
				font-size: 2.538rem;
				font-size: clamp(2.538rem, 2.135rem + 1.79vw, 3.625rem);
				@include breakpoint(medium) {
					font-size: 3.625rem;
					font-size: clamp(2.538rem, 2.135rem + 1.79vw, 3.625rem);
				}
			}
			.button-group {
				padding-top: 1.5rem;
				a.button {
					margin-bottom: 1.25rem;
				}
			}
		}
	}
}